MediaSearchSystem/.vs/MediaSearchSystem/FileContentIndex/
MediaSearchSystem/MediaSearchSystem/bin/Debug/net8.0-windows/ffmpeg.exe
MediaSearchSystem/MediaSearchSystem/bin/Debug/net8.0-windows/vosk-model-en-us-0.22/